@font-face {
    font-family: "Cocogoose";
    src: url("../fonts/Cocogoose_trial.otf");
}

.brand-logo {
    width: 5vw;
}

.nav-wrapper {
    padding: 0 10vw;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        display: none;
    }
    nav {
        background-color: transparent;
        width: 100vw;
        height: 10vh;
    }
    nav a {
        color: black;
    }
    nav .sidenav-trigger i {
        font-size: 6rem;
    }
    .nav-wrapper {
        padding: 3vw;
    }
    .firstcard {
        padding: 0 5vw;
    }
    .firstcard p {
        font-size: 2rem;
        margin-bottom: 0;
        font-family: "Lato", sans-serif;
        color: #ec5242;
    }
    .firstcard h1 {
        margin: 0.8rem 0 0.8rem 0;
        font-family: "Cocogoose", sans-serif;
        font-weight: bold;
        color: #ec5242;
    }
    .secondcard {
        padding: 0 7vw;
    }
    .secondcard p {
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        color: #272a31;
    }
    .thirdcard {
        padding: 0 5vw;
    }
    .thirdcard h2 {
        font-size: 3rem;
        color: #5b5b5b;
        font-family: "Cocogoose", sans-serif;
    }
    .thirdcard p {
        color: #272a31;
        font-size: 1.6rem;
        font-family: "Lato", sans-serif;
    }
    .redfont {
        color: #ec5242;
        font-family: "Cocogoose", sans-serif;
        font-size: 1.5rem;
        margin: 1rem;
    }
    .forthcard {
        padding: 0 5vw;
        background-color: rgb(40, 43, 50);
    }
    .forthcard h3 {
        color: white;
        text-align: center;
        padding: 3rem;
        font-size: 2.5rem;
    }
    .forthcard p {
        color: white;
        font-family: "Lato", sans-serif;
        width: 50%;
    }
    .programcards .minicard {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding: 1.5rem;
        background-color: rgb(58, 61, 70);
        margin: 1rem;
    }
}