@font-face {
    font-family: "Cocogoose";
    src: url("../fonts/Cocogoose_trial.otf");
}

.brand-logo {
    width: 5vw;
}

.nav-wrapper {
    padding: 0 10vw;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        display: none;
    }
    nav {
        background-color: transparent;
        width: 100vw;
        height: 10vh;
    }
    nav a {
        color: black;
    }
    nav .sidenav-trigger i {
        font-size: 6rem;
    }
    .nav-wrapper {
        padding: 3vw;
    }
    .home {
        padding: 3rem 0 3rem 0;
    }
    .firstcard {
        padding: 0 5vw;
    }
    .firstcard p {
        font-size: 2rem;
        margin-bottom: 0;
        font-family: "Lato", sans-serif;
        color: #ec5242;
    }
    .firstcard h1 {
        margin: 0.8rem 0 3rem 0;
        font-family: "Cocogoose", sans-serif;
        font-weight: bold;
        color: #ec5242;
    }
    .secondcard {
        margin: 0 5vw;
        padding: 0 3vw;
        border: white solid 5px;
    }
    .secondcard p {
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        color: #272a31;
    }
    .thirdcard {
        padding: 0 5vw;
    }
    .thirdcard h2 {
        font-size: 3rem;
        color: #5b5b5b;
        font-family: "Cocogoose", sans-serif;
    }
    .thirdcard p {
        color: #272a31;
        font-size: 1.6rem;
        font-family: "Lato", sans-serif;
    }
    .redfont {
        color: #ec5242;
        font-family: "Cocogoose", sans-serif;
        font-size: 1.5rem;
        margin: 2.5rem;
    }
    .forthcard {
        padding: 0 0 3.5rem 0;
        background-color: rgb(40, 43, 50);
        background-image: url(../imgs/paw.png);
        background-size: 3rem;
    }
    .forthcard h3 {
        color: white;
        text-align: center;
        padding: 3rem 3rem 1rem 3rem;
        font-size: 2.5rem;
    }
    .forthcard p {
        color: white;
        font-family: "Lato", sans-serif;
        width: 50%;
        font-size: 1.4rem;
    }
    .programcards .minicard {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding: 1.5rem;
        background-color: rgb(60, 63, 70, 0.6);
        margin: 1.5rem;
    }
    .minicard img {
        width: 5rem;
        height: 5rem;
        margin: 2rem 0 0 1rem;
    }
    .forthcard .orangebutton {
        width: 50vw;
        background-color: rgb(255, 79, 56);
        height: 8vh;
        font-size: 1.5rem;
        color: white;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 3rem;
        outline: none;
        border: none;
    }
    .speakercard {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2.5rem;
    }
    .speakercard img {
        width: 12rem;
        height: 12rem;
    }
    .speakercard h5 {
        font-family: "Cocogoose", sans-serif;
        font-weight: lighter;
        margin: 0 1.5rem 0 1.5rem;
        font-size: 1.4rem;
    }
    .speakercard p {
        font-size: 1.2rem;
        color: #ec5242;
        font-family: "Lato", sans-serif;
        font-style: italic;
        margin: 1rem 1.5rem 1rem 1.5rem;
    }
    .orangehr {
        border: #ec5242 1px solid;
        align-items: center;
        width: 10%;
        margin-bottom: 2.5rem;
    }
    .speakers h4 {
        text-align: center;
        padding: 3rem 3rem 1rem 3rem;
        font-size: 2.5rem;
    }
    .speakercard span {
        font-size: 1rem;
        font-family: "Lato", sans-serif;
        margin: 1rem 1.5rem 1rem 1.5rem;
    }
    .grayhr {
        border: gray 1px solid;
        width: 10%;
        margin: 1rem 1.5rem 2rem 1.5rem;
    }
    body {
        background-image: url(../imgs/homebackground.jpg);
        background-color: rgb(255, 255, 255, 0.3);
        background-size: cover;
    }
}